@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

#header {
  // Structure settings
  height: 10vh;
  border-bottom: 2px solid #3e339c;
  background-color: rgba($color: #0e0b42, $alpha: 0.5);
  backdrop-filter: blur(10px);
  position: fixed;
  z-index: 1000;
  width: 100%;

  // Display settings
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-text {
  // Font settings
  color: white;
  font-family: 'Funnel Display', sans-serif;
  font-size: 1.5vw;
  margin-left: 1vw;

  display: inline-flex;
  align-items: center;
}

.left-text-dash {
  // Font settings
  color: white;
  font-family: 'Funnel Display', sans-serif;
  margin-left: 1px;
  font-size: 1.5vw;
  animation: dash-loop 0.8s step-start infinite;
}

@keyframes dash-loop {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.right-text {
  // Structure settings
  margin-right: 1vw;
  gap: 2vw;

  // Display settings
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-text > button {
  // Structure settings
  background-color: transparent;
  height: 10vh;
  border: none;
  border-radius: 25%;

  // Animation with Hover
  transition: 0.2s;

  // Font settings
  font-family: 'Funnel Display', sans-serif;
  font-size: 1vw;
  color: rgb(192, 192, 192);
}

.right-text > button:hover {
  color: white;
  cursor: pointer;
}
