%presentation-white-text {
  // Display settings
  display: flex;
  justify-content: center;
  align-items: center;

  // Font settings
  color: white;
  font-family: 'Funnel Display', sans-serif;
  font-size: 4vh;
}
