<section class="presentation-card-first-type">
    <div class="head-presentation">
      <h1>Hola! Soy</h1>
      <h1 style="color: rgb(90, 90, 248); margin-left: 1vh">Facundo Vinitzca</h1>
    </div>
    <div class="body-presentation">
      Estudiante de Ingeniería en Sistemas de Información (UTN) enfocado en desarrollo Backend con
      Java y Spring Boot. Mi paso por el soporte técnico y la docencia me permitió comunicar ideas
      complejas de forma simple y trabajar bajo presión para resolver problemas.
    </div>
    <div class="skills-presentation-head">
      <h1>Mis</h1>
      <h1 style="color: rgb(90, 90, 248); margin-left: 1vh">Habilidades</h1><br>
    </div>
    <div class="skills-presentation-icons">
      <img src="icons/angular_icon.svg" alt="Angular">
      <img src="icons/java_icon.svg" alt="Java">
      <img src="icons/springboot_icon.svg" alt="Spring Boot">
      <img src="icons/mysql_icon.svg" alt="Node.js">
      <img src="icons/C_icon.svg" alt="React"> 
    </div>
  </section>
