#presentation-first-container {
  // Structure settings
  height: 100vh;
  width: 100%;
  background-color: rgba($color: #1e293b, $alpha: 0.5);
  border-bottom: 1px solid rgb(143, 112, 112);
  
  // Display settings
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.head-presentation {
  // Display settings
  display: flex;
  justify-content: center;
  align-items: center;

  // Font settings
  color: white;
  font-family: 'Funnel Display', sans-serif;
  font-size: 4vh;
}

.left-first-presentation, .rigth-first-presentation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  width: 40vw;
  border: 1px solid white;
}

.left-upper-part, .left-under-part {
  height: 28vh;
  width: 40vw;
  border: 1px solid white;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left-photo {
  border: 1px solid white;
  border-radius: 50%;
  background-color: antiquewhite;
  height: 20vh;
  width: 10vw;
}

.skills-presentation-icons {
  // Display settings
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.skills-presentation-icons > img {
  transition: 0.3s ease;
}

.skills-presentation-icons > img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

.horizontal-line {
  border-left: 1px solid white;
  height: 60vh;
}

