@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

#presentation-body-background {
  // Structure settings
  background-color: #131313;

  // Display settings
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.presentation-card-first-type {
  // Structure settings
  height: 60vh;
  width: 100%;
  background-color: rgba($color: #1e293b, $alpha: 0.5);
  
  // Display settings
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.head-presentation {
  // Display settings
  display: flex;
  justify-content: center;
  align-items: center;

  // Font settings
  color: white;
  font-family: 'Funnel Display', sans-serif;
  font-size: 4vh;
}

.body-presentation {
  // Display settings
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // Structure settings
  height: 10vh;
  width: 50vw;

  // Font settings
  color: white;
  font-family: 'Funnel Display', sans-serif;
  font-size: 2vh;
}

.skills-presentation-head {
    // Display settings
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;

  // Font settings
  color: white;
  font-family: 'Funnel Display', sans-serif;
  font-size: 4vh;
}

.skills-presentation-icons {
  // Display settings
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vh;
}

.skills-presentation-icons > img {
  transition: 0.3s ease;
}

.skills-presentation-icons > img:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}


.presentation-card-second-type {
  // Structure settings
  height: 120vh;
  width: 100%;
  background-color: rgba($color: #0b1120, $alpha: 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects-presentation {
  // Display settings
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2vh;

  // Font settings
  color: white;
  font-family: 'Funnel Display', sans-serif;
}

.projects-presentation > div {

  // Structure settings
  height: 30vh;
  width: 30vw;
  margin-top: 3vh;
  border: 1px solid white;
}

.project-image {
  // Structure settings
  height: 100%;
  width: 100%;
}