@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap');

#presentation-body-background {
  // Structure settings
  background-color: #131313;

  // Display settings
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.presentation-card-first-type {
  // Structure settings
  height: 60vh;
  width: 100vw;
  background-color: rgba($color: #1e293b, $alpha: 0.5);
  
  // Display settings
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.head-presentation {
  // Display settings
  display: flex;
  justify-content: center;
  align-items: center;

  // Font settings
  color: white;
  font-family: 'Funnel Display', sans-serif;
  font-size: 4vh;
}

.body-presentation {
  // Display settings
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // Structure settings
  height: 10vh;
  width: 50vw;
  margin-top: 5vh;

  // Font settings
  color: white;
  font-family: 'Funnel Display', sans-serif;
  font-size: 2vh;
}

.presentation-card-second-type {
  // Structure settings
  height: 60vh;
  width: 100vw;
  background-color: rgba($color: #0b1120, $alpha: 0.5);
}
