<section class="presentation-card-second-type">
    <div class="head-presentation">
      <h1>Mis</h1>
      <h1 style="color: rgb(90, 90, 248); margin-left: 1vh">Proyectos</h1>
    </div>
    <div class="projects-presentation">
      <div class="project-card">
        <img ngSrc="images/1er-proyecto-imagen.png" alt="Proyecto 2" width="600" height="300" class="project-image">
      </div>
      <div class="project-card">
        <img ngSrc="images/2do-proyecto-imagen.png" alt="Proyecto 2" width="600" height="300" class="project-image">
      </div>
      <div class="project-card">
        <img ngSrc="images/3er-proyecto-imagen.png" alt="Proyecto 2" width="600" height="300" class="project-image">
      </div>
      <div class="project-card">
        <img ngSrc="images/4to-proyecto-imagen.png" alt="Proyecto 2" width="600" height="300" class="project-image">
      </div>
      <div class="project-card">
        <img ngSrc="images/5to-proyecto-imagen.png" alt="Proyecto 2" width="600" height="300" class="project-image">
      </div>
      <div class="project-card">
        <img ngSrc="images/6to-proyecto-imagen.png" alt="Proyecto 2" width="600" height="300" class="project-image">
      </div>
      <div class="project-card">
        <img ngSrc="images/7mo-proyecto-imagen.png" alt="Proyecto 2" width="600" height="300" class="project-image">
      </div>
      <div class="project-card">
        <img ngSrc="images/8vo-proyecto-imagen.png" alt="Proyecto 2" width="600" height="300" class="project-image">
      </div>
    </div>
  </section>
