.head-presentation {
  // Display settings
  display: flex;
  justify-content: center;
  align-items: center;

  // Font settings
  color: white;
  font-family: 'Funnel Display', sans-serif;
  font-size: 4vh;
}

.presentation-card-second-type {
  // Structure settings
  height: 80vh;
  width: 100%;
  background-color: rgba($color: #0b1120, $alpha: 0.5);
  border-bottom: 1px solid rgb(143, 112, 112);

  // Display settings
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects-presentation-container {
  display: grid;
  grid-template-columns: auto auto;


}